{% extends 'bootstrap/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1>タロット占い</h1>
  <form method="post">
    <div class="form-group">
      <label for="spread_type">占いの種類を選択してください:</label>
      <select class="form-control" id="spread_type" name="spread_type">
        <option value="one_card">今日の運勢を占います（ワンオラクル:1枚）</option>
        <option value="three_cards">1つのことの過去、現在、未来を占います（スリーカード:3枚）</option>
        <option value="celtic_cross">1つのことを全体的に占います（ケルト十字:10枚）</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">占う</button>
  </form>
</div>
{% endblock %}